.unnamed1 {
	font: normal xx-small Tahoma;
	text-transform: capitalize;
	color: #000066;
	border: opx none #000066;
}
.unnamed1Copy {

	font: normal xx-small Tahoma;
	text-transform: capitalize;
	color: #000066;
	border: 0px none #FFFFFF;
}
span,p {
	font: xx-small Tahoma;
	color: #000066;
	text-decoration: none;
	border: 0px none;
}
A:hover {
	COLOR: #cc3300
}
A {
	TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; COLOR: #000008; TEXT-DECORATION: underline none
}
BODY {

;color: #000000;
	font: xx-small Tahoma;
}
table, td {
color: #000000;
	font: xx-small Tahoma;
}
.option {
	color: #000080;
	font: xx-small Tahoma;
	border: 0px none #000066;
}


h2 {
	color: #000066;
	font: x-small Tahoma;
}
.style2 {font-size: medium}
.input {
	font: normal xx-small Tahoma;
	color: #000099;
	text-decoration: underline;
	background: #FFFFFF;
	border: thin solid #333333;
}